input[type=text] {
    background-color: #97ced898;
    color: rgb(34, 25, 25);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[placeholder]{
    color: red;
}